.panel_container {
    padding: 2rem;
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 7px;
  }
  