.hero-section {
    height: 16.875rem;
    /* justify-content: center; */
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-content {
    width: 50rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .hero-image {
    width: 13.25rem;
    height: 13.25rem;
  }
  